@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;0,900;1,500&family=Open+Sans:wght@400;800&family=Pacifico&display=swap');

/* fonts */
.logo {
    font-family: "Pacifico", sans-serif;
    font-size: 0.8em;
    margin-left: 10px;
    color: #fafafa;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
th {
    font-family: "Bitter", sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 800;
    padding: 10px;
}

h2,
th {
    font-size: 2em;
    font-weight: 700;
    padding: 8px;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    padding: 8px;
}

h4 {
    font-size: 1.8em;
    font-weight: 400;
    padding: 8px;
}

h5 {
    font-size: 1.2em;
}

button,
p,
li,
td {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6em;
}

.flashes,
.flashes h4 {
    margin: 0px;
    padding: 0px
}

nav li a {
    font-size: 0.8em;
    font-weight: 600;
    text-shadow: 1px 1px #111;
    color: #fafafa;
}

.sidenav li a {
    font-size: 0.8em;
    font-weight: 600;
    text-shadow: 2px 2px #111;
    color: #fafafa;
    line-height: 1.6;
}

#sidenav-logo {
    font-size: 1.6em;
}

/* colours */
.dark-red {
    background-color: #A60303;
}

.tabs-transparent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checked {
    color: #F2B705;
}

.liked {
    color: #A60303;
}

.btn {
    background-color: #467302;
}

.btn:hover {
    background-color: #72A603;
}

input {
    background-color: #fafafa;
}

.input-field>label {
    color: #467302;
}

/* General */
body {
    max-width: 1800px;
    margin: 0 auto;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

/* recipe cards */
.recipes-container {
    margin: 100px 20px;
}

.add-recipe-card {
    height: 900px;
}

.card-header {
    height: 400px;
    position: relative;

}

.card-image {
    width: 100%;
    height: 100%;
    ;
}

.card-title {
    font-weight: 600;
}

.card-content {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-bottom {
    width: 100%;
    align-self: flex-end;
}

.recipe-edit-buttons {
    position: absolute;
    right: 0%;
    bottom: -10px;
}

.liked {
    color: #D90416;
}

@media only screen and (max-width: 650px) {
    .card-content {
        height: auto;
    }

    .add-recipe-card {
        height: 250px;
    }

    .recipes-container {
        margin: 150px 0px;
    }
}

/* hero images */
.hero-image {
    display: flex;
    align-items: flex-end;
    background-image: url("/static/images/herocompressed.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 600px;
}

/* Page introduction messages  */
.introduction-message-container {
    margin: 50px auto;
    width: 100%;
}

.introduction,
.heading {
    max-width: 600px;
    margin: 10px auto;
    text-align: center;
}

/* search bars */
@media only screen and (max-width: 600px) {
    .search-bar-form {
        display: flex;
        flex-direction: column;
    }

    .search-bar {
        margin-bottom: 0px;
        padding-bottom: 0px;
        width: 100%;
    }

}

/* Forms */
#message {
    height: 150px;
}

.form-card-content {
    margin-top: 50px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 50px;
}

.margin-bottom {
    margin-bottom: 20px;
}

#subscribers {
    background-color: #fafafa;
}

.form-guidence {
    margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    .catergories-form {
        display: flex;
        flex-direction: column;
    }
}

/* About Page */
.team-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.team-card:nth-child(odd) {
    flex-direction: row-reverse;
}

#meet-the-team-container {
    width: 100%;
}

.team-info-container,
.team-image-container {
    width: 50%;
}

.team-image {
    width: 80%;
    height: auto;
    margin: 20px;
}

.team-info {
    width: 80%;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
}


@media only screen and (max-width: 700px) {

    .team-info-container,
    .team-image-container {
        width: 100%;
    }

    .team-image {
        width: 100%;
        margin: 0px;
    }
}

/* Profile page  */
.nav-content {
    background-color: #D90416;
}

/* admin page */
#admin-btn {
    padding: 2%;
}

.admin-btn {
    margin: 2px;
}

th {
    text-align: center;
}

table {
    margin: 0 auto 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

tbody tr:nth-child(even) {
    background-color: #F2B705;
    color: #467302;
}

@media only screen and (max-width: 400px) {
    #admin-btn {
        padding: 3%;
    }

    .display-none {
        display: none;
    }
}

/* each recipe page */
.recipe-img {
    max-width: 600px;
    width: 100%;
}

.methods-section {
    background-color: #F2B705;
}

/* recipe page rating form */
.container {
    position: relative;
    width: 400px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .text {
    font-size: 25px;
    color: #666;
    font-weight: 500;
}

.container .edit:hover {
    text-decoration: underline;
}

.star-widget label {
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
    color: #F2B705;
}

input:checked~label {
    color: #F2B705;
}

input#rate-5:checked~label {
    color: #F2B705;
    text-shadow: 0 0 20px #952;
}

@media only screen and (max-width: 450px) {
    .container {
        position: relative;
        width: 100%;
        padding: 0px 0px;
    }

    label .fas .fa-star::before {
        font-size: 1em;
    }

    .star-widget label {
        padding: 1px;
    }
}

/* forms */
#form {
    display: inline;
}

.container form {
    display: none;
}

input:checked~form {
    display: block;
}

form header {
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

.textarea textarea:focus {
    border-color: #444;
}

form .btn {
    height: 45px;
    width: 100%;
    margin: 5px 0;
}

form .btn button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Footer */
.social-links {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

.social-links li {
    padding: 5px;
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 1.4rem;
    line-height: 7px;
    text-align: center;
    color: black;
    background: white;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #fafafa;
}

.social-links i:hover {
    color: #D90416;
}

#footer-form-container {
    display: flex;
    justify-content: center;

}

@media only screen and (max-width: 600px) {
    .social-links {
        justify-content: center;
    }

}

.off {
    display: none;
}