{% extends "base.html" %}

{% block content %}
<section>
    <div class="hero-image">
    </div>
</section>
<!-- ./Hero image-->

<!-- About Welcome Message -->
<section class="introdution-message-container">
    <div class="introduction">
        <h1>About us</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam hic vero, doloribus quis a, voluptatum
            perferendis tempora in qui possimus iste quo. Repellat eius minima suscipit, rerum distinctio quos eligendi
            atque aliquid, adipisci vero ullam mollitia, ut est velit iure.</p>
    </div>
</section>
<!-- ./About Welcome Message -->

<!-- /meet the team stection -->
<section id="meet-the-team-container">
    <div class="heading">
        <h1>Meet the Team</h1>
    </div>
    <div class="col s12 m12 l12">
        <div class="card horizontal team-card">
            <div class="team-image-container">
                <img class="team-image" src="/static/images/samplemember.jpg">
            </div>
            <div class="team-info-container">
                <div class="team-info">
                    <h2>Anna Day</h2>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure eveniet consequuntur at nulla
                        earum
                        natus. Ad atque eos cumque culpa velit, id minima quaerat? Assumenda ipsam odio numquam
                        dignissimos
                        asperiores nam. Saepe ducimus voluptates odio enim ex impedit dolor doloribus.</p>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>
<!-- ./meet the team stection -->

{% endblock %}