{% extends "base.html" %}

{% block content %}
<div>
    <div class="hero-image">
    </div>
</div>
<!-- ./Hero image-->

<!-- About Welcome Message -->
<section class="introdution-message-container">
    <div class="introduction">
        <h1>About us</h1>
        <p>Recipe app originally started as a simple idea in 2020 between partners Anna & Marcus. they recognised the
            need for tried and tested recipes for new cooks to try. To share their recipes
            with friends and family, they created The recipe app as a tool for posting recipes and helpful information
            in the hopes that others would join in and create a community.
        </p>
    </div>
</section>
<!-- ./About Welcome Message -->

<!-- /meet the team stection -->
<section id="meet-the-team-container">
    <div class="heading">
        <h1>Meet the Team</h1>
    </div>
    <!-- team member card-->
    <div class="team-card">
        <div class="team-image-container">
            <img class="team-image" src="/static/images/teammemberone.webp" alt="Anna Day profile picture">
        </div>
        <div class="team-info-container">
            <div class="team-info">
                <h2>Anna Day</h2>
                <p> Co-founder and recipe developer <br>
                    Anna has over 3 years of experience creating food and cooking content for print
                    and another 5 years within the print publishing industry and loves to try new things in the kitchen
                </p>
            </div>
        </div>
    </div>
    <!-- Team member card -->

    <!-- team member card-->
    <div class="team-card">
        <div class="team-image-container">
            <img class="team-image" src="/static/images/profile2.webp" alt="Anna Day profile picture">
        </div>
        <div class="team-info-container">
            <div class="team-info">
                <h2>Marcus Bradford</h2>
                <p> Co founder and devloper <br>
                    As a proud home cook himself, Marcus understands the challanges
                    a home cook can have, from costs, to time, tingredients, to satisfying picky eaters. Marcus wanted
                    to create and app to help with these challanges</p>
            </div>
        </div>
    </div>
    <!-- Team member card -->

</section>
<!-- ./meet the team stection -->

{% endblock %}