{% extends "base.html" %}

{% block content %}
<!-- Hero image-->
<div>
    <div class="hero-image">
    </div>
</div>
<!-- ./Hero image-->

<!-- Welcome Message -->
<section class="introdution-message-container">
    <div class="introduction">
        <h1>Welcome to the Recipe App</h1>
        <p>Recipe app is a website dedicated to sharing delicious food. Everyone is welcome from
            beginner cooks to
            profeesional chef. Our aim is to build a community of foodies were we can share our recipe ideas with each
            other. </p>
    </div>
</section>
<!-- ./ Welcome Message -->




{% endblock %}