{% extends "base.html" %}

{% block content %}
<!-- Hero image-->
<section>
    <div class="hero-image">
    </div>
</section>
<!-- ./Hero image-->

<!-- Welcome Message -->
<section id="welcome-message-container">
    <div id="welcome">
        <h1>Welcome to the Recipe App</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam hic vero, doloribus quis a, voluptatum
            perferendis tempora in qui possimus iste quo. Repellat eius minima suscipit, rerum distinctio quos eligendi
            atque aliquid, adipisci vero ullam mollitia, ut est velit iure.</p>
    </div>
</section>
{% endblock %}