{% extends "base.html" %}

{% block content %}

<section>
    <div class="row">
        <div class="card-panel teal">
            <div class="col s12 l12">
                <div>
                    <div class="row">
                        <img class="col s8 m6 l4 offset-l1" src="{{ recipe.img_url }}" alt="">
                        <div class="col l4">
                            <h2>{{ recipe.recipe_name }}</h2>
                            <p>Created by: {{ recipe.author }}</p>
                            <span>
                                <p>Rating: {{ recipe.rating }}</p>
                                {% if recipe.rating | int >= 1 %}
                                <span class="fa fa-star checked"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                                {% endif %}
                                {% if recipe.rating | int >= 2 %}
                                <span class="fa fa-star checked"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                                {% endif %}
                                {% if recipe.rating | int >= 3 %}
                                <span class="fa fa-star checked"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                                {% endif %}
                                {% if recipe.rating | int >= 4 %}
                                <span class="fa fa-star checked"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                                {% endif %}
                                {% if recipe.rating | int >= 5 %}
                                <span class="fa fa-star checked"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                                {% endif %}
                                ({{ recipe.star_ratings|length }})
                            </span>
                            <div>
                                <p>{{ recipe.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l6 12 center offset-m3">
                <h2>Ingredients</h2>
                <ol>
                    {% for item in recipe.ingredients %}
                    <li>{{ item }}
                        <hr>
                        {% endfor %}
                </ol>


            </div>
            <div class="col l6 m12 center">
                <h2>Method</h2>
                <ol>
                    {% for item in recipe.instructions  %}
                    <li>{{ item }}</li>
                    <hr>
                    {% endfor %}
                </ol>
            </div>
            <div class="col l8 center offset-l2">
                <h2>Rate this recipe</h2>
                <div class="container">
                    <div class="post">
                        <div class="text">Thanks for this recipe</div>
                        <div class="edit">EDIT</div>
                    </div>
                    <form method="POST" action="{{ url_for( 'add_recipe_rating', recipe_id=recipe._id) }}" id="form">
                        <div class="star-widget">
                            <input type="radio" name="star_ratings" id="rate-5" value="5">
                            <label for="rate-5" class="fas fa-star"></label>
                            <input type="radio" name="star_ratings" id="rate-4" value="4">
                            <label for="rate-4" class="fas fa-star"></label>
                            <input type="radio" name="star_ratings" id="rate-3" value="3">
                            <label for="rate-3" class="fas fa-star"></label>
                            <input type="radio" name="star_ratings" id="rate-2" value="2">
                            <label for="rate-2" class="fas fa-star"></label>
                            <input type="radio" name="star_ratings" id="rate-1" value="1">
                            <label for="rate-1" class="fas fa-star"></label>
                            <header></header>
                            <div class="btn">
                                <button type="submit">Rate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}