{% extends "base.html" %}

{% block content %}
<!-- recipe card-->
<div class="card-panel">
    <div class="row">
        <div class="col s12 l6">
            <img class="recipe-img" src="{{ recipe.img_url }}" alt="photo of {{ recipe.img_url }}">
        </div>
        <div class="col s12 l6">
            <!-- recipe name-->
            <h2>{{ recipe.recipe_name }}</h2>
            <p>Created by: {{ recipe.author }}</p>
            <!-- star rating -->
            <span>
                {% if recipe.rating | int >= 1 %}
                <span class="fa fa-star checked"></span>
                {% else %}
                <span class="fa fa-star"></span>
                {% endif %}
                {% if recipe.rating | int >= 2 %}
                <span class="fa fa-star checked"></span>
                {% else %}
                <span class="fa fa-star"></span>
                {% endif %}
                {% if recipe.rating | int >= 3 %}
                <span class="fa fa-star checked"></span>
                {% else %}
                <span class="fa fa-star"></span>
                {% endif %}
                {% if recipe.rating | int >= 4 %}
                <span class="fa fa-star checked"></span>
                {% else %}
                <span class="fa fa-star"></span>
                {% endif %}
                {% if recipe.rating | int >= 5 %}
                <span class="fa fa-star checked"></span>
                {% else %}
                <span class="fa fa-star"></span>
                {% endif %}
                ({{ recipe.star_ratings|length }})
            </span>
            <p>Rating: {{ recipe.rating }}</p>
            <div>
                <p>{{ recipe.description }}</p>
            </div>
        </div>
    </div>
</div>
</div>
<!-- ./card -->

<!-- ingredients list  -->
<div class="row methods-section">
    <div class="col s12 offset-s1 l6 m12 center">
        <h2>Ingredients</h2>
        <ul>
            {% for item in recipe.ingredients %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
    <!-- ./ingredients list  -->

    <!--  method section -->
    <div class="col s12 offset-s1 l6 m12 center">
        <h2>Method</h2>
        <ol>
            {% for item in recipe.instructions  %}
            <li>{{ item }}</li><br>
            {% endfor %}
        </ol>
    </div>
</div>
<!--  ./method section-->

<!-- rating form -->
<div class="row star-rating center">
    <div class="col s12 m6 l8 offset-m3 offset-l2 center">
        <h2>Rate this recipe</h2>
        <div class="container center-align">
            <form method="POST" action="{{ url_for( 'add_recipe_rating', recipe_id=recipe._id) }}" id="form">
                <div class="star-widget">
                    <input type="radio" name="star_ratings" id="rate-5" value="5">
                    <label for="rate-5" class="fas fa-star"></label>
                    <input type="radio" name="star_ratings" id="rate-4" value="4">
                    <label for="rate-4" class="fas fa-star"></label>
                    <input type="radio" name="star_ratings" id="rate-3" value="3">
                    <label for="rate-3" class="fas fa-star"></label>
                    <input type="radio" name="star_ratings" id="rate-2" value="2">
                    <label for="rate-2" class="fas fa-star"></label>
                    <input type="radio" name="star_ratings" id="rate-1" value="1">
                    <label for="rate-1" class="fas fa-star"></label>
                    <header></header>
                    <div>
                        <button class="btn waves-effect waves-light" type="submit">Rate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ./rating form -->



{% endblock %}